<ons-page class="center">
    <div ng-controller="FinalCtrl" class="finalPage">
        <video id="kinsella"></video>
        <div id="thefade" class="fade-container {{classname}}">
	        <div id="ct" ng-model="school" class="congrats {{classname}}">
	        	congratulations!<br/>
	        	you are the <br/>
	        	<span>{{count}}</span><br/>
	        	person to take<br/>
	        	the pledge
	        </div>
	        <div class="clickArea">
	            <ons ng-click="next($index)">
	                restart
	             </ons>
	        </div>
        </div>
    </div>
</ons-page>
