<ons-page class="center">
    <div ng-controller="SchoolCtrl" class="scope">
    	<input type="text" ng-model="model.schoolName" />
    	<div>{{model.schoolName}}</div>
    	<button ng-click="clickMe(model.schoolName)">Click me</button>
    </div>
</ons-page>
