    <div ng-controller="ReadyCtrl" class="readyPage">
    	<h1>are you ready to take</h1>
    	<h2>the pledge</h2>
        <div class="clickArea">
            <img src="img/home-arrow-left.png" alt="home arrow" />
           
            <ons ng-click="next($index)">
                let's do this
             </ons>
             
             <img src="img/home-arrow-right.png" alt="home arrow" />
        </div>
    </div>
