<ons-page class="center">
    <div ng-controller="SeeCtrl" class="seePage">
        <img src="img/bkt.png" alt="logo" class="logo"/>
        <h1>i am me</h1>
        <h2>i am my own person and i pledge:</h2>
        <div class="list">
        	<ul>
        		<li><img src="img/elipse.png" alt="elipse" />i will <span>never</span> choose to carry a knife</li>
        		<li><img src="img/elipse.png" alt="elipse" />i will <span>never</span> believe that carrying a knife is for your own safety</li>
        		<li><img src="img/elipse.png" alt="elipse" />i will not be bullied or persuaded into doing something that I know is wrong</li>
        		<li><img src="img/elipse.png" alt="elipse" />i will not behave aggressively towards others in order to look big or cool</li>
        		<li><img src="img/elipse.png" alt="elipse" />i will think about the consequences of my actions and how they affect other people</li>
        		<li><img src="img/elipse.png" alt="elipse" />i believe everyone has the right to be safe and feel safe</li>
        		<li><img src="img/elipse.png" alt="elipse" />i will ask for help if I am worried about my safety or the safety of others</li>
        	</ul>	
        </div>
        <div class="bottom">
        	<h3>If you believe that you are your own person and want to make a stand <br/> against knife crime, support our <span>I AM ME</span> pledge and sign the form</h3>
        	<h4>WITH YOUR HELP WE CAN MAKE A CHANGE</h4>
        </div>
        <div class="clickArea right">
            <ons ng-click="next($index)">
                back
             </ons>
        </div>
    </div>
</ons-page>
