<ons-page class="center">
<script type="text/ng-template" id="customTemplate.html">
  <a>
      <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
      <i>({{match.model.capital}})</i>
  </a>
</script>
    <div id="main-area" ng-controller="StartCtrl" class="schoolPage {{padding}}">
    	<h1>Enter the name of your school or organisation</h1>

        <autocomplete ng-model="school" data="schools" on-type="updateSchools"></autocomplete>

        <div class="clickArea">
            <img src="img/home-arrow-left.png" alt="home arrow" />
           
            <ons ng-click="next($index,school)">
                start pledge
             </ons>
             
             <img src="img/home-arrow-right.png" alt="home arrow" />
        </div>
    </div>
</ons-page>
