    <div ng-controller="TakeCtrl" class="takePage">
        <h1>hold your finger on the touchscreen <br/>for 2 seconds and repeat</h1>
        <h2>&#8220;i am me&#8221;</h2>
        <div>
            <img on-long-press="itemOnLongPress()" on-touch-end="itemOnTouchEnd()" src="img/finger-print.png" alt="finger" class="finger" />
        </div>
        <div class="clickArea right">
            <ons ng-click="next($index)">
                see pledge
             </ons>
        </div>
    </div>